/data/010_eurostat_tables/*.parquet
/data/010_eurostat_tables/*.tsv

# data in test folder
/test/data/010_eurostat_tables/*.parquet
/test/data/010_eurostat_tables/*.tsv

# mac files
.DS_Store
*.jld2
/Manifest*.toml
/Agent_prompt.md
/DONE_ITEMS.md
/Initializer_prompt.org
/Oliver_Checklist.org
/Progress.md
/TODO.md
/.dir-locals.el
/log_*
/*.zip
/.opencode_tmp/
/AGENTS.md
/backup/
.opencode_tmp
